@charset "utf-8";

body {
  font-family: "DM Serif Text", serif;
  margin: 0;
  padding: 0;
  background: rgb(220, 220, 220);
}
.gcontainer {
  width: 70%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 26% 5% 45% 30% 20%; /* 500px 50px 800px 500px 400px; */
  grid-template-areas:
    "top top top top top top"
    "nav nav nav nav nav nav"
    "cont cont cont cont cont cont"
    "visit visit visit visit visit visit"
    "footer footer footer footer footer footer ";
}

.header {
  background-color: rgb(199 221 234);
  grid-area: top;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 10%;
}

.top {
  justify-self: flex-end;
  align-self: flex-end;
}

img {
  width: 20%;
  height: 100%;
}

.header > h1 {
  justify-self: center;
  align-self: center;
  padding-right: 7%;
  padding-top: 14%;
  font-size: 4vw;
  margin-bottom: 15%;
}

nav {
  background: rgb(220, 220, 220);
  grid-area: nav;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  padding: 0 7% 0 7%;
  color: gray;
  list-style: none;
  text-decoration: none;
  font-size: 0.9vw;
  font-weight: 700;
}

.active {
  color: black;
  font-weight: 800;
}

.content {
  background: #938989;
  grid-area: cont;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.pod {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

h2 {
  color: white;
  align-self: flex-start;
  justify-self: center;
  font-size: 3.5vw;
  margin-top: 6%;
  margin-right: -8%;
}

h4 {
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.2vw;
}

form {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  justify-content: flex-end;
  width: 25%;
  margin-top: 5%;
  overflow-wrap: break-word;
  margin-right: 10%;
}

button {
  border-radius: 32px;
  height: 40%;
  margin-top: 10%;
  width: 70%;
  font-size: 0.8vw;
  padding-top: 8%;
  box-shadow: 0 15px 10px -15px rgba(0, 0, 0, 0.5);
  padding-bottom: 8%;
  margin-top: 20%;
  font-weight: bold;
  margin-left: 62%;
}

.mail {
  width: 120%;
  padding: 5%;
  border-radius: 5px;
  margin-right: 20%;
  border: 1px solid white;
  font-size: 1.2vw;
  font-family: sans-serif;
  color: rgba(0, 0, 0, 0.6);
}

.mail:focus {
  outline: none;
}

textarea {
  width: 124%;
  height: 60%;
  padding-top: 5%;
  padding-left: 5%;
  padding-bottom: 50%;
  border-radius: 5px;
  resize: none;
  outline: none;
  border: 1px solid white;
  font-size: 1.2vw;
  float: left;
  font-family: sans-serif;
  color: rgba(0, 0, 0, 0.6);
}

.imgb {
  grid-area: visit;
  display: flex;
  height: auto;
  margin-bottom: 0px;
}

.visit {
  width: 100%;
}

footer {
  background: #5b5b5b;
  grid-area: footer;
}
