body {
  font-family: sans-serif;
  background: rgb(220, 220, 220);
}

.gContainer {
  display: grid;
  width: 70%;
  height: 100%;
  margin: 0 auto;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 250px 250px 50px 500px 500px 250px 250px 50px 250px;
  grid-template-areas:
    "header1a header1a header1a header2 header2 header2"
    "header1b header1b header1b header3 header3 header3"
    "ntop ntop ntop ntop ntop ntop"
    "main1 main1 main1 main1 main1 main1"
    "main2 main2 main2 main2 main2 main2"
    "box1 box1 box2 box2 box3 box3"
    "box4 box4 box5 box5 box6 box6"
    "nbot nbot nbot nbot nbot nbot"
    "footer footer footer footer footer footer";
}

.header1A {
  grid-area: header1a;
  display: flex;
  flex-direction: column;
  background: powderblue;
}

.header1B {
  grid-area: header1b;
  display: flex;
  background: powderblue;
}

.h1header1 {
  align-self: flex-start;
  margin-top: 12%;
  margin-left: 20%;
  font-weight: 700;
  font-size: 2.5rem;
  margin-bottom: -1%;
}

.pheader1 {
  font-size: 14px;
  align-self: flex-start;
  line-height: 1.5;
  font-weight: 700;
  margin-left: 20%;
  margin-bottom: 0;
  padding: 0;
}

.famcontainer {
  width: 55%;
  height: 105%;
  justify-self: flex-end;
  align-self: flex-end;
  margin-bottom: 0;
  padding: 0;
  margin-right: 2%;
}

.fam {
  width: 100%;
  height: 100%;
}

.bHeader1 {
  text-align: center;
  border-radius: 28px;
  justify-self: flex-start;
  align-self: flex-start;
  margin-top: 8%;
  margin-left: 20%;
  margin-right: -15%;
  font-weight: 700;
  width: 160px;
  height: 40px;
  box-shadow: 0 15px 10px -15px rgba(0, 0, 0, 0.5);
}

.header2 {
  grid-area: header2;
  background: rgb(238, 85, 24);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header3 {
  grid-area: header3;
  background: orange;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.black {
  color: rgba(0, 0, 0, 0.6);
}
.awhite {
  font-size: 2rem;
  color: white;
}
.nTop {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: ntop;
  background: rgb(220, 220, 220);
}

a {
  font-size: 12px;
  font-weight: 700;
  color: grey;
  margin-left: 5%;
  margin-right: 5%;
  text-decoration: none;
  list-style: none;
}

.active {
  color: rgba(0, 0, 0, 0.8);
}

.main1 {
  grid-area: main1;
  background: grey;
  display: flex;
  justify-content: center;
}

.profilecard1,
.profilecard2,
.profilecard3 {
  background: white;
  border-radius: 12px;
  height: 40%;
  width: 25%;
}

.pcard1 {
  height: 100%;
  width: 60%;
}

.pcard2 {
  height: 100%;
  width: 60%;
}

.pcard3 {
  height: 100%;
  width: 60%;
}

.main2 {
  grid-area: main2;
  background: orange;
  flex-direction: column;
  justify-content: center;
}

.infobox1 {
  grid-area: box1;
  background: powderblue;
}

.infobox2 {
  grid-area: box2;
  background: white;
}

.infobox3 {
  grid-area: box3;
  background: rgb(220, 220, 220);
}

.infobox4 {
  grid-area: box4;
  background: white;
}

.infobox5 {
  grid-area: box5;
  background: rgb(238, 85, 24);
}

.infobox6 {
  grid-area: box6;
  background: white;
}

.nBot {
  grid-area: nbot;
  background: grey;
}

footer {
  grid-area: footer;
  background: rgb(75, 75, 75);
}
